
<h3>Log in:</h3>

<%= form_for(:session, :url => sessions_path) do |f| %>
  
  <div class="field" >
    <%= f.label :email %> 
    <%= f.text_field :email %>
  </div>
  
  <div class="actions" >
    <%= f.submit "Sign in" %>
  </div>
  <%= link_to "Accounts are created during order placement", root_path %>
<% end %>