<h2>Submit Order:</h2>
<%= form_for(@user) do |f| %>
  <div class="field" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field" >
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="actions" >
    <%= f.submit "Submit Order" %>
  </div>
<% end %>