<div>
<span class="orders">
   <%= pluralize($current_user.orders.count, 'order') %><br/>
</span>
</div>
<div>
<ul>
<% @orders.each do |order| %>
  <li><%= order.order_number %> 
      <%= order.cpu %>
      <%= order.ram %>
      <%= order.video %>
      <%= order.hdd %>
  </li>
<% end %>
</ul>
</div>