<!DOCTYPE html>
<html>
<head>
  <meta name="author" content="Kelly Mathews"/>
  <meta name="keywords" content="FINALPROJECT,RUBY,RAILS"/>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="temp">
<div id="sidebar"><label id="labelNav">Navigation</label><br>
<%= link_to "Home", root_path %><br/>
<%= link_to "Login", signin_path %><br/>
<%= link_to "Orders", orders_path %><br/>
</div>
<div id="main">
	<%= yield %>
</div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
